<h2>🥗 Plan de Dieta</h2>
<table id="dieta">
  <thead>
    <tr>
      <th>Lunes</th>
      <th>Martes</th>
      <th>Miércoles</th>
      <th>Jueves</th>
      <th>Viernes</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="comida">Comida: xd</td>
      <td class="comida">Comida: xd</td>
      <td class="comida">Comida: xd</td>
      <td class="comida">Comida: xd</td>
      <td class="comida">Comida: xd</td>
    </tr>
    <tr>
      <td class="cena">Cena: xd</td>
      <td class="cena">Cena: xd</td>
      <td class="cena">Cena: xd</td>
      <td class="cena">Cena: xd</td>
      <td class="cena">Cena: xd</td>
    </tr>
  </tbody>
</table>
