<h2>🥗 Plan de Dieta</h2>
<table id="dieta">
  <thead>
    <tr>
      <th>Lunes</th>
      <th>Martes</th>
      <th>Miércoles</th>
      <th>Jueves</th>
      <th>Viernes</th>
    </tr>
  </thead>
  <tbody>
    <tr id="fila-comida">
      <td data-dia="lunes" data-tipo="comida">pollo</td>
      <td data-dia="martes" data-tipo="comida">de</td>
      <td data-dia="miércoles" data-tipo="comida">corral</td>
      <td data-dia="jueves" data-tipo="comida">atun</td>
      <td data-dia="viernes" data-tipo="comida">norte</td>
    </tr>
    <tr id="fila-cena">
      <td data-dia="lunes" data-tipo="cena">ensalada</td>
      <td data-dia="martes" data-tipo="cena">huebos</td>
      <td data-dia="miércoles" data-tipo="cena">xd</td>
      <td data-dia="jueves" data-tipo="cena">ay</td>
      <td data-dia="viernes" data-tipo="cena">brr</td>
    </tr>
  </tbody>
</table>
